table {
  border: 1px solid black;
  margin-right: 15%;
  float:right;
}
button {
    background-color: #4CAF50; /* Green */
    color: white;
    text-decoration: bold;
    font-size: 16px;
}

.del {
  background-color: red;
}

body {
background-color: AliceBlue;
}

#monthlyTotal {
  display: inline-block;
  margin:50px, 50px, 50px, 50px;
  width:100%;
  font-size: 22px;
  text-align: center;
}

#inputBoxes {
  float: left;
  margin-left: 25%;
  text-align: :center;
}

h2 {
  text-align: center;
}
